

/*Element Selectors*/

body{
	margin:5px;
}

header{
	width: 100%;
	color:black;
	background-color:silver;
	float: left;
}

h1{
	padding: 20px;
	margin:0px;
	font-size:2em;
	font-weight: bold;
}

h2{
	font-size:1.5em;
	font-weight: bold;
}

aside{
	width: 38%;
	float: left;
	clear: right;
	margin-left: 2%;
}

article{
	float: left;
	width: 56%;
	padding: 2%;
	text-align: justify;
}

footer{
	clear: both;
	height: 20px;
	background-color: silver;
}


/*Class, Attribute and Pseudo Selectors*/

.menu1{
	
	width: 100%;
	float: left;
	color:white;
	background-color:black;
	margin-top: 0px;
}

.menu1 ul{
	padding: 5px;
	margin: 0px 0px 0px 2px;
 	list-style: none;
}

.menu1 ul li{
	display: inline;
	border-right: 1px solid white;
	text-align: center;
}

.menu1 ul li a{
	 text-decoration: none;
	 color:white;
	 padding-right: 5px;
}

.nfoot{
	float: left;
	height: 20px;
	padding-left: 5px;
}

.nfoot a{
	text-decoration: none;
	padding-right: 5px;
	color: black;

}

.dfoot{
	float: right;
	margin: 0px;
	padding-right: 5px;
}


/*Media query*/

@media screen and (max-width: 780px){

	/*Element Selectors*/
	
	aside {
		width: 96%;
		margin: 2%;
	}

	article{
		width: 96%;
		margin: 2%;
		float: left;
		padding: 0px;
		text-align: justify;
	}

	section h1{
		margin-left: 10px;
	}
}

@media screen and (max-width: 320px){

	/*Element Selectors*/

	body{
		margin: 0px;
	}

	img{
		max-width: 100%;
		height: auto;
		display: block;
	}

	aside {
		width: 96%;
		margin: 2%;
	}

	article{
		width: 96%;
		margin: 2%;
		float: left;
		padding: 0px;
		text-align: justify;
	}

	footer{
		height: 40px;
	}

	header h1{
		text-align: center;
	}

	section h1{
		margin-left: 10px;
	}

	/*Class, Attribute and Pseudo Selectors*/
	
	.menu1{
		width: 96%;
		margin: 2%;
	}
	.menu1 ul li{
		display: block;
		border-right:0px;
		text-align: left;
	}
	.menu1 ul{
		padding: 5px;
		margin: 0px 10px 0px 0px;
	 	list-style: none;
	}

	.dfoot, .nfoot{
		float: left;
		width: 100%;
		text-align: center;

	}
}

@media screen and (max-width: 240px){

	/*Element Selectors*/

	article, aside{
		width: 96%;
		margin: 2%;
		padding: 0px;
	}

	/*Class, Attribute and Pseudo Selectors*/

	.menu1{
		width:96%;
		margin: 2%;
		padding: 0px;
	}

	.menu1 ul li{
		display: block;
		border-right: none;
		text-align: left;
	}

	
	.dfoot, .nfoot{
		float: left;
		width: 100%;
		text-align: center;

	}
}


