/*CSS para mobile first*/
a{
	text-decoration: none;
}

header{
	color:black;
	background-color:silver;
	width: 100%;
}
h1{
	padding: 20px;
	margin:0px;
	font-size:2em;
	font-weight: bold;
}

h2{
	font-size:1.5em;
	font-weight: bold;
}
.menu1{
		width:96%;
		margin: 2%;
		background-color:black;
}

.menu1 ul{
	padding: 5px;
	margin: 0px 0px 0px 2px;
 	list-style: none;
}

.menu1 ul li{
	margin-top: 1%;
	margin-bottom: 1%;
	display: block;
	text-align: left;
}
.menu1 ul li a{
	color:white;
}
img {
	width: 100%;
	height: auto;
}

aside{
	width: 100%;
}

section{
	width: 100%;
}
footer{
	background-color: silver;
	text-align: center;
}
footer nav a{
	color:black;
}


@media screen and (min-width: 321px){

	article, aside, footer, header, .menu1, .nfoot{
		float:left;
	}
	.dfoot{
		float: right;
	}

aside{
	width: 38%;
	margin-left: 2%;
}

article{
	width: 56%;
	padding: 2%;
	text-align: justify;
}
footer{
	clear: both;
	width: 100%;
}

.menu1{
	width: 100%;
	margin:0;
}

.menu1 ul li{
	border-right: 1px solid white;
	text-align: center;
	display: inline;
}

.menu1 ul li a{
	padding-right: 5px;
}

}
