/*Element Selectors*/
body
{
	margin: 2%;
}
header
{
	width: 100%;
}
img
{
	height: auto;
	width: 100%;
}
/*Class, Attribute and Pseudo Selectors*/
.menu1
{
	width: 100%;
}
.menu1 ul
{
	list-style: none;
	padding: 0px;
}
.menu1 ul li
{
	background-color: silver;
	margin-bottom: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
}
.menu2
{
	display: none;
}
.last{
	border:none!important;
}
.actual
{
	background-color: gray!important;
}
/*Media query*/
@media screen and (min-width: 481px){
	/*Element Selectors*/
	body
	{
		margin-top: 1%;
		margin-left: 5%;
		margin-right: 5%;
	}
	h1
	{
		margin-top: 0px;
		width: 45%;
	}
	section
	{
		width: 49%;
	}
	footer
	{
		width: 100%;
	}
	/*Class, Attribute and Pseudo Selectors*/
	.menu1
	{
		margin: 0;
		width: 55%;
	}
	.menu1 ul
	{
		text-align: right;
	}
	.menu1 ul li
	{
		background-color: transparent;
		border-right: 1px solid black;
		display: inline;
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
	.menu1 ul li a
	{
		padding-right: 5px;
	}
	.menu2
	{
		display: block;
	}
	.menu2 ul {
		padding-left: 0px;
	}
	.menu2 ul li
	{
		border-right: 1px solid black;
		display: inline;
		padding-right: 2px;
	}
	.section1
	{
		margin-right: 2%;
	}
	.actual
	{
		background-color: transparent!important;
	}
	article, footer, header, h1, section, .menu1
	{
		float: left;
	}
}
